<div class="page-container">
<h3>Prepare to have a pawsome moment</h3>
<h5>Your date</h5>

<div class="dogs-container">
<% @meetings.each do |meeting| %>


<div class="card-dog">

  <% if meeting.dog.photo.attached? %>
      <%= cl_image_tag meeting.dog.photo.key, crop: :fill %>
    <% else %>
      <%= image_tag "dogs/#{rand(1..12)}.jpg" %>
    <% end %>

   <div class="card-dog-infos">
  <h5> <%= meeting.dog.name %> </h5>
  <p> 📅 Meeting you on the <%= meeting.dates %></p>
  <p> from <%= meeting.start_time.strftime("%I:%M %p")  %> to <%= meeting.end_time.strftime("%I:%M %p") %></p>
  <p> 💲 Price: <%= meeting.price %></p>
  <p><%= link_to '🗑 Cancel meeting ', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div>
</div>
  <% end %>

</div>

<%= link_to 'Find a new friend!', dogs_path %>
<br>

</div>


