<div class="page-container">
<h1> Get to know <%= @dog.name %> </h1>


<div class="card-dog-show">
  <img src="https://images.pexels.com/photos/1564506/pexels-photo-1564506.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" />
  <div class="card-dog-show-infos">
    <div>
  <p> address: <%= @dog.address %></p>
  <p> description: <%= @dog.description %></p>
  <p> owner: <%= @dog.user_id %></p>
  </div>
  <p class="card-dog-show-pricing"> Cost per day: <%= @dog.price %>€</p>
  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-dog-user avatar-bordered" />
</div>
</div>



<button class="btn btn-outline-secondary"><%= link_to "Book this dog",  new_dog_meeting_path(@dog) %></button>
<button class="btn btn-outline-secondary"><%= link_to "Edit this dog",  edit_dog_path %></button>
<button class="btn btn-outline-secondary"><%= link_to "Delete this Dog", dog_path(@dog), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }%></button>

</div>
